@import url(common/bootstrap.css);

@import url(homepage/homepage.css);

body div {
	margin-left: AUTO;
	margin-right: AUTO;
	background-color: #e0e0e0;
	/*  *position: relative;*/
	/*  *z-index: 10;*/
	margin-top: 0px;
	width: 960px;
	/*  margin: 10px 3% 0 3%;*/
	text-align: center;
}

.loginFrame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	margin-top: -150px;
	margin-left: -250px;
	/*border: 1px solid red;*/
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	background-color: transparent;
	/*background-image: url("../image/background/loginBg.jpg")*/
}

.signupFrame{
	background-image: url("../image/background/bg.jpg");
	marginleft:0 auto;
	width:450px;
}

.signupLabel{
	width:25%;
	text-align:right;
}

.signupInput{
	width:35%;
}
.signupTips{
	width:18%;
	text-align:left;
	font-family: '微软雅黑','宋体','隶书','华文中宋','仿宋';
	font-size: 12px;
}
